<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #216da3; color:white">
  <a class="navbar-brand" routerLink="/" class="fas fa-home" style="color:white; font-size: large;"> Inicio</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" (click)="ATiendas()" style="color:white"><i class="fas fa-box"></i><span>
            Seguir Comprando</span></a></li>
    </ul>
  </div>
</nav>

<ng-container *ngIf="Estado==='Carrito'">
<br>
<div class="card" style="background-color: #216da3; color:white">
  <div class="card-body">
    <h1 class="text-center">
      Carrito
    </h1>
    <table class="table table-sm table-hover">
      <tbody class="tblbody">
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th></th>
        <tr *ngFor="let prod of Productos">
          <td>{{prod.Codigo}}</td>
          <td>{{prod.Nombre}}</td>
          <td>{{prod.Descripcion}}</td>
          <td>
            <a class="btn btn-danger text-white" (click)="Devolver(prod)">
              Devolver
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="Pagar">
  <button class="btn btn-info" (click)="GenerarRecorrido(Productos)" style="margin-right: 2%;">
    Generar Recorrido
  </button>
  <button class="btn btn-info" (click)="ARecorrido()" style="margin-right: 2%;">
    Ver Recorrido
  </button>
  <button class="btn btn-success" (click)="GenerarPedido(Productos)">
    Generar Pedido
  </button>
  <br>
  <br>
</div>
</ng-container>

<ng-container *ngIf="Estado==='Recorrido'">

  <nav class="navbar navbar-expand-lg navbar-light" style="color:white">
    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="btn btn-info" (click)="GrafoInicial()" style="margin: auto;">
          <i>Grafo Inicial</i>
        </button>
        <button class="btn btn-info" (click)="Pasoss()" style="margin: auto;">
          <i>Pasos</i>
        </button>
        <button class="btn btn-info" (click)="RecorridoCompleto()" style="margin: auto;">
          <i>Recorrido Completo</i>
        </button>
    </div>
  </nav>
  

  <div id="wrapper">
  <div class="navbar navbar-dark align-items-start sidebar-dark bg-gradient-primary p-0"
    style="float:left">
    <div class="container-fluid d-flex flex-column p-0"><a
        class="navbar-brand d-flex justify-content-center align-items-center">
        <div class="sidebar-brand-text mx-3"><span>

          <div *ngIf="TipoGrafo==='Pasos'">
          Paso:
          <button class="btn btn-info" (click)="Retroceder()">
            <i><</i>
          </button>
          {{NPaso}}
          <button class="btn btn-info" (click)="Avanzar()">
            <i>></i>
          </button>
        </div>

        </span></div>
      </a>
      <div *ngIf="TipoGrafo!='Grafo Inicial'">
      <form      
      style="margin: auto; background-color: #4884af; margin-top: 1%; border-radius: 2%; color:white">
      <h1>Recorrido</h1>
      <table class="table table-sm table-hover" style="border-radius: 2%;">
        <tbody class="tblbody">
          <th>Recorrido</th>
          <th>Distancia</th>
          <tr>
            <td style="text-align: center;">{{Distancia}}</td>
            <td style="text-align: center;">{{Recorrido}}</td>
          </tr>
        </tbody>
      </table>
      <h1>Recogidos</h1>
      <table class="table table-sm table-hover" style="border-radius: 2%;">
        <tbody class="tblbody">
          <th>Codigo</th>
          <th>Fecha</th>
          <th>Almacen</th>
          <th>Usuario</th>
          <tr *ngFor="let prod of Recogidos">
            <td style="text-align: center;">{{prod.Codigo}}</td>
            <td style="text-align: center;">{{prod.Fecha}}</td>
            <td style="text-align: center;">{{prod.Almacenamiento}}</td>
            <td style="text-align: center;">{{prod.Tienda}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="TipoGrafo==='Pasos'">
    <h1>Pendientes</h1>
    <table class="table table-sm table-hover" style="border-radius: 2%;">
      <tbody class="tblbody">
        <th>Codigo</th>
        <th>Fecha</th>
        <th>Almacen</th>
        <th>Usuario</th>
        <tr *ngFor="let prod of Pendientes">
          <td style="text-align: center;">{{prod.Codigo}}</td>
          <td style="text-align: center;">{{prod.Fecha}}</td>
          <td style="text-align: center;">{{prod.Almacenamiento}}</td>
          <td style="text-align: center;">{{prod.Tienda}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </form>
</div>
    </div>
  </div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <h1 *ngIf="TipoGrafo==='Grafo Inicial'">Grafo Inicial</h1>
      <h1 *ngIf="TipoGrafo==='Pasos'">Recorrido</h1>
      <h1 *ngIf="TipoGrafo==='Recorrido Completo'">Recorrido Completo</h1>
      <img src="assets/img/{{Grafo}}.png">
    </div>
    <br>
    <br>
  </div>
</div>
</ng-container>
