<header class="rounded shadow-lg o-hidden border-0 my-5 text-center text-white masthead"
    style="background:url('assets/img/Fondo.jpg')no-repeat center center;background-size:cover;">
    <div class="rounded overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Proyecto EDD - Fase 2</h1>
                <h1 class="mb-5">William Alejandro Borrayo Alarcón</h1>
                <h1 class="mb-5">201909103</h1>
            </div>
        </div>
    </div>

</header>