.imagen{
    margin-top: 1%;
    height: 120px;
    width: 120px;
    margin-bottom: 1%;
}

.Tienda{
    color:white;
    padding:1%;
    text-align:center;
    margin: 2%;
}

.Producto{
    color:black;
    margin: 2%;
    background-color: rgb(132, 179, 194);
    width: 25%;
    border-radius: 2%;
}

.div{
    text-align: center;
}

.Regresar{
    text-align: left;
    margin-left: 2%;
}

.tblbody{
    background-color: rgb(132, 179, 194);
}

.Pagar{
    text-align: right;
    margin-right: 2%;
}