<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #216da3; color:white">
  <a class="navbar-brand" routerLink="/" class="fas fa-home" style="color:white; font-size: large;"> {{Nombre}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" (click)="ACarrito()" style="color:white"><i
            class="fas fa-dolly-flatbed"></i><span> Carrito</span></a></li>
      <li class="nav-item"><a class="nav-link" (click)="ACuentas()" style="color:white"><i
            class="fas fa-user-circle"></i><span> Cuenta</span></a></li>
    </ul>
  </div>
</nav>

<!------------------------------------------- TIENDAS ------------------------------------------------->
<ng-container *ngIf="Estado==='Tiendas'">
  <h1 style="color:white">Tiendas</h1>
  <div class="row" style="margin-left: 3%;">
    <ng-container *ngFor="let tienda of Tiendas">
      <div class="Producto">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
          style="color:white">
          {{tienda.Nombre}}<br>
        </div>
        <img class="imagen" [src]="tienda.Logo">
        <div class="card-body">
          Departamento: {{tienda.Departamento}}<br>
          Descripcion: {{tienda.Descripcion}}<br>
          Calificación: {{tienda.Calificacion}}
        </div>
        <div class="card-footer justify-content-between" style="margin: auto;">
          <button class="btn btn-success" (click)="INV(tienda)" style="float:left; margin-left:15%">
            <i>Entrar</i>
          </button>
          <button class="btn btn-info" (click)="AComentario(tienda)">
            <i>Comentar</i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<!------------------------------------------- PRODUCTOS ------------------------------------------------->
<ng-container *ngIf="Estado==='Productos'">
  <br>
  <div class="Regresar">
    <button class="btn btn-info" (click)="Regresar()">
      Regresar
    </button>
  </div>
  <h1 style="color:white">{{Tienda}}</h1>
  <h2 style="color:white">Departamento: {{Departamento}}</h2>
  <div class="row" style="margin-left: 3%;">
    <ng-container *ngFor="let producto of Productos">
      <div class="Producto">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          {{producto.Nombre}}
        </div>
        <img class="imagen" [src]="producto.Imagen">
        <div class="card-body">
          Código: {{producto.Codigo}}<br>
          {{producto.Descripcion}}<br><br>
          Cantidad: {{producto.Cantidad}}
        </div>
        <div class="card-footer justify-content-between" style="margin: auto;">
          <button class="btn btn-success" (click)="Comprar(producto)" style="float:left; margin-left:15%">
            <i>Comprar</i>
          </button>
          <button class="btn btn-info" (click)="AComentarioP(producto)">
            <i>Comentar</i>
          </button>
        </div>

      </div>
    </ng-container>
  </div>
  <h2 style="color: white">
    Arbol AVL
  </h2>
  <img class="img-fluid" src="../../../assets/img/{{Arbol}}">
</ng-container>

<!-------------------------------------------------ELIMINAR CUENTA------------------------------------------------->
<ng-container *ngIf="Estado==='Cuentas'">
  <br>
  <div class="Regresar">
    <button class="btn btn-info" (click)="Regresar()">
      Regresar
    </button>
  </div>
  <br>
  <div>
    <div class="container" style="margin: auto; color:white">

      <form class="form login col-sm-4" style="margin: auto;">
        <div class="page-header">
          <h1 class="text-center">Eliminar esta Cuenta</h1><br>
        </div>
        <div class="form-group" style="text-align: left;">
          Introduzca su Contraseña:
          <input type="password" name="callback_0" data-validator-event="keyup" class="form-control input-lg"
            placeholder="Contraseña" [(ngModel)]="Contrasenia">
        </div>

        <button class="btn btn-success" style="margin-left: 2%;" (click)="Eliminar()">
          <i>Eliminar</i>
        </button>
      </form>
    </div>
  </div>
</ng-container>

<!--------------------------------------------- COMENTARIOS --------------------------------------------->

<div *ngIf="Estado==='Comentarios'">
  <!--<button class="btn btn-info" style="margin-top: 2%; margin-right: 1%;" (click)="probar()">
    <i>probar</i>
  </button>
-->
  <div style="text-align: left; margin-top: 2%;">
    <button class="btn btn-primary" (click)="Regresar()">
      <i>Regresar</i>
    </button>
  </div>
  <h1 style="color:white;">Comentarios</h1><br><br>

  <div *ngIf="pilaComentarios.length==1" style="max-width: 80%; text-align: left; margin: auto;">
    <!------------------------------------------AQUI COMENTA EL USUARIO SOBRE LA TIENDA--------------------------------------------->
    <div class="card-header bg-dark text-white d-flex align-items-center" style="color:white; text-align: left;">
      <img src="../../../assets/img/user.png" height="4%" width="4%" style="border-radius: 75%;">
      <div style="margin-left: 1%;">
        {{Nombre}}
      </div>
    </div>

    <div class="card-body" style="background-color: rgb(32, 108, 151); color: white;">
      <div style="text-align: center;">Nuevo Comentario</div>
      <textarea data-validator="required" data-validator-event="keyup" class="form-control input-lg" rows=1
        placeholder="Comentario" name="callback_0" [(ngModel)]="NuevoMensaje">
    </textarea>
    </div>

    <div class="card-footer" style="background-color: rgb(32, 108, 151); color: white;">
      <div style="text-align: right;">
        <button class="btn btn-info" style="margin-top: 2%; margin-right: 1%;"
         (click)="NuevoComentario(NuevoMensaje); NuevoMensaje=''">
          <i>Publicar Comentario</i>
        </button>
      </div>
    </div>
    <br>
    <!------------------------------------------ Se muestran los comentario de la tienda --------------------------------------------------->
    <div *ngFor="let comentario of Comentarios">
      <div class="card-header bg-dark text-white d-flex align-items-center" style="color:white; text-align: left;">
        <img src="../../../assets/img/user.png" height="4%" width="4%" style="border-radius: 75%;">
        <div style="margin-left: 1%;">
          {{comentario.Nombre}}
        </div>
      </div>

      <div class="card-body" style="background-color: rgb(32, 108, 151); color: white;">
        {{comentario.Mensaje}}
      </div>

      <div class="card-footer" style="background-color: rgb(32, 108, 151); color: white;">
        <textarea [formControl]="comentario.Respuesta" data-validator="required" data-validator-event="keyup"
          class="form-control input-lg" rows=1 placeholder="Comentario" name="callback_0">
           </textarea>
        <div style="text-align: right;">
          <button class="btn btn-info" style="margin-top: 2%; margin-right: 1%;"
            (click)="VerRespuestas(comentario, Comentarios, comentario.Subcomentarios)">
            <i>Ver Respuestas</i>
          </button>
          <button class="btn btn-success" style="margin-top: 2%;"
            (click)="Responder(comentario, comentario.Respuesta.value); comentario.Respuesta.value=''">
            <i>Responder</i>
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>

      <!------------------------------------------ SI ESTA DENTRO DE UN COMENTARIO --------------------------------------------->
  <div *ngIf="pilaComentarios.length>1" style="max-width: 80%; text-align: left; margin: auto;">
    <div style="text-align: left;">
      <button class="btn btn-primary" (click)="TurnBack()">
        <i>Comentario anterior</i>
      </button>
    </div>
    <br>

    <div class="card-header bg-dark text-white d-flex align-items-center" style="color:white">
      <img src="../../../assets/img/user.png" height="4%" width="4%" style="border-radius: 75%;">
      <div style="margin-left: 1%;">
        {{Anterior.Nombre}}
      </div>
    </div>
    <div class="card-body" style="background-color: rgb(32, 108, 151); color: white;">
      {{Anterior.Mensaje}}
    </div>
    <div class="card-footer" style="background-color: rgb(32, 108, 151); color: white;">
      <textarea [formControl]="Anterior.Respuesta" data-validator="required" data-validator-event="keyup"
        class="form-control input-lg" rows=1 placeholder="Comentario" name="callback_0">
       </textarea>
      <div style="text-align: right;">
        <button class="btn btn-success" style="margin-top: 2%;" 
        (click)="Responder(Anterior, Anterior.Respuesta.value); Anterior.Respuesta.value=''">
          <i>Responder</i>
        </button>
      </div>
    </div>
    <br>
  </div>

  <!------------------------------------------AQUI LAS RESPUESTAS SOBRE UN COMENTARIO--------------------------------------------->
  <div *ngIf="pilaComentarios.length>1" style="max-width: 70%; text-align: left; margin-left: 20%;">
    <div *ngFor="let comentario of Comentarios">
      <div class="card-header bg-dark text-white d-flex align-items-center" style="color:white">
        <img src="../../../assets/img/user.png" height="4%" width="4%" style="border-radius: 75%;">
        <div style="margin-left: 1%;">
          {{comentario.Nombre}}
        </div>
      </div>

      <div class="card-body" style="background-color: rgb(32, 108, 151); color: white;">
        {{comentario.Mensaje}}
      </div>

      <div class="card-footer" style="background-color: rgb(32, 108, 151); color: white;">
        <textarea [formControl]="comentario.Respuesta" data-validator="required" data-validator-event="keyup"
          class="form-control input-lg" rows=1 placeholder="Comentario" name="callback_0">
        </textarea>

        <div style="text-align: right;">
          <button class="btn btn-info" style="margin-top: 2%; margin-right: 1%;"
            (click)="VerRespuestas(comentario, Comentarios)">
            <i>Ver Respuestas</i>
          </button>
          <button class="btn btn-success" style="margin-top: 2%;"
            (click)="Responder(comentario, comentario.Respuesta.value); comentario.Respuesta.value=''">
            <i>Responder</i>
          </button>
        </div>
      </div>
      <br>

    </div>
  </div>