<div>
    <div class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #216da3; color:white">
                <!--Ejemplo de boton a la izquierda-->
                <a class="navbar-brand" routerLink="/" class="fas fa-home" style="color:white; font-size: large;"> Inicio</a>

                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/Cargar" style="color:white"><i class="fas fa-user-circle"></i><span> Cargar Datos</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Comprar" style="color:white"><i class="fas fa-clipboard-check"></i><span> Comprar</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:3000/arbolBinario" target="_blank" style="color:white"><i class="fas fa-sitemap"></i><span> Ver Árbol de Estudiantes</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Tiendas" style="color:white"><i class="fas fa-box" ></i><span> Tiendas</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Carrito" style="color:white"><i class="fas fa-dolly-flatbed"></i><span> Carrito</span></a></li>   
                  </ul>
                </div>
              </nav>
              <!--Esto hace que se pueda cambiar de "pagina"-->       
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div>