.horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

p {
    display: inline-block;
    flex-grow: 1;
    height:100px;    
    width: calc(100% * (1/4) - 10px - 1px);
}

.imagen{
    height: 120px;
    width: 120px;
    margin-bottom: 2%;
}

.Tienda{
    color:white;
    padding:1%;
    text-align:center;
    margin: 2%;
}

.div{
    text-align: center;
}