<ng-container *ngIf="Estado==='Cargar'">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #216da3; color:white">
        <!--<a class="navbar-brand" routerLink="/" class="fas fa-home" style="color:white; font-size: large;"> Inicio</a>-->
        <a class="fas fa-home" style="color:white; font-size: large;">{{Nombre}} </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" (click)="AReportes()" style="color:white"><i
                            class="fas fa-clipboard-check"></i><span> Reportes</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/" style="color:white"><i
                            class="fas fa-clipboard-check"></i><span> Salir</span></a></li>
            </ul>
        </div>
    </nav>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cargar Archivos</h5>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" (change)="LoadTiendas($event)">
                        <label class="custom-file-label" for="inputGroupFile01" id="choosedFile" accept=".json">Cargar
                            Tiendas</label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" (change)="LoadInventario($event)">
                        <label class="custom-file-label" for="inputGroupFile01" id="choosedFile" accept=".json">Cargar
                            Inventarios</label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" (change)="LoadPedidos($event)">
                        <label class="custom-file-label" for="inputGroupFile01" id="choosedFile" accept=".json">Cargar
                            Pedidos</label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" (change)="LoadUsuarios($event)">
                        <label class="custom-file-label" for="inputGroupFile01" id="choosedFile" accept=".json">Cargar
                            Usuarios</label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01" (change)="LoadGrafo($event)">
                        <label class="custom-file-label" for="inputGroupFile01" id="choosedFile" accept=".json">Cargar
                            Grafo</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
</ng-container>